*{margin:0px;padding:0px;}
		.logo{background: #333333;padding:10px;max-width: 100%}
		.logo h1{color:white;float:left;margin-top:12px;}
		.logo b{color:#ef8026;font-size: 50px}
		.menu{background:#666666;}
		.menu li{display: inline-block;padding:14px 16px;border-right: 1px solid black}
		.menu a{color:white;text-decoration: none}
		.wp_content{width: 100%;display: flex;}
		.content{float:left;width: 75%;}
		.content div.blank{height: 60px}
		.content div.cnt1{display: flex;padding: 30px 0px;border-bottom: 2px solid #ddd;width: 90%;margin-left: 30px;}
		.content div.cnt1 div.blk{width:150px;height:150px;background:#ddd;}
		.content div.cnt1 div.paragr{float:right;margin-left: 50px}
		.content div.cnt1 div.paragr a{color:#ef8026;line-height: 50px;text-decoration: none}
		.sidebar{background:#e5e5e5;position: relative;width: 25%}
		.sidebar h3{ border-bottom: 2px solid #ddd;margin-top:30px;padding-bottom: 12px;margin-left: 20px}
		.sidebar li{line-height: 30px;margin-left: 26px}
		.sidebar a{color:#ca8b58; text-decoration: none}
		.sidebar p{margin-left: 20px;margin-top:18px;}
		.footer{background:#333333;color:white;text-align: center;padding:18px;clear: both;}
		.footer a{color:#ef8026;text-decoration: none}